
.logo-header-container {
  padding: 10px 0px;
  width: 20%;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.logo-header {
  max-width: 50%;
}

.cart .cart__title {
  font-size: 16pt;
}